sudo: required

language: java

cache:
  directories:
  - $HOME/.m2

services:
  - docker

jdk:
  - oraclejdk8

env:
  - IDRIS_JVM_HOME=${HOME}/bin/idris-jvm

before_install:
  - docker pull mmhelloworld/idris:1.2.0
  - mkdir -p $HOME/bin/idris-packages $IDRIS_JVM_HOME
  - wget https://github.com/mmhelloworld/idris-jvm/releases/download/v1.0-SNAPSHOT-20180217.beta.3/idris-jvm-1.0-SNAPSHOT-20180217.beta.3.zip
  - unzip -o idris-jvm-*.zip -d $HOME/bin
  - export PATH=`pwd`/bin/travis:$IDRIS_JVM_HOME/codegen/bin:$HOME/.local/bin:$PATH
  - export PROJECT_ROOT=`pwd`
  - docker run --name idris mmhelloworld/idris:1.2.0 idris -v && docker cp idris:/.stack-work/install/x86_64-linux/lts-10.0/8.2.2/share/x86_64-linux-ghc-8.2.2/idris-1.2.0/libs/. $HOME/bin/idris-packages && docker rm idris

script:
  - mvn -pl :idris-jvm-integration-test test -B