name: Install
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main

env:
  IDRIS2_PREVIOUS_VERSION: 0.2.2
  IDRIS2_PREVIOUS_VERSION_SUFFIX: '-SNAPSHOT'
  IDRIS2_PREVIOUS_VERSION_TAG_SUFFIX: '-20210907'
  IDRIS2_TESTS_CG: jvm
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: 'maven'
      - name: Set IDRIS2_PREFIX
        run: echo "IDRIS2_PREFIX=$HOME/bin/idris2-$IDRIS2_PREVIOUS_VERSION$IDRIS2_PREVIOUS_VERSION_SUFFIX/lib" >> $GITHUB_ENV
      - name: Set PREFIX
        run: echo "PREFIX=$IDRIS2_PREFIX" >> $GITHUB_ENV
      - name: Download previous version
        run: |
          wget https://github.com/mmhelloworld/Idris2/releases/download/v$IDRIS2_PREVIOUS_VERSION$IDRIS2_PREVIOUS_VERSION_SUFFIX$IDRIS2_PREVIOUS_VERSION_TAG_SUFFIX/idris2-$IDRIS2_PREVIOUS_VERSION$IDRIS2_PREVIOUS_VERSION_SUFFIX.zip
          unzip idris2-$IDRIS2_PREVIOUS_VERSION$IDRIS2_PREVIOUS_VERSION_SUFFIX.zip -d $HOME/bin
          echo "::add-path::$HOME/bin/idris2-$IDRIS2_PREVIOUS_VERSION$IDRIS2_PREVIOUS_VERSION_SUFFIX/bin"
      - name: Build
        run: mvn --batch-mode install -Dinteractive= -Didris.tests="only=jvm"
