name: "pre-release"

on:
  push:
    branches:
      - main

env:
  IDRIS2_TESTS_CG: jvm
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: 'maven'
      - name: Set IDRIS2_PREFIX
        run: echo "IDRIS2_PREFIX=$HOME/bin/idris2-0.3.1-SNAPSHOT/lib" >> $GITHUB_ENV
      - name: Set PREFIX
        run: echo "PREFIX=$IDRIS2_PREFIX" >> $GITHUB_ENV
      - name: Download previous version
        run: |
          wget https://github.com/mmhelloworld/idris-jvm/releases/download/v0.3.1-rc.2/idris2-0.3.1-SNAPSHOT.zip
          unzip idris2-0.3.1-SNAPSHOT.zip -d $HOME/bin
          echo "::add-path::$HOME/bin/idris2-0.3.1-SNAPSHOT/bin"
      - name: Build
        run: mvn --batch-mode install -DskipTests

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            idris-jvm-compiler/target/idris2-0.3.1.zip